{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<div class="col-sm-12">
    <h3 class="text-blacl my-5 text-center">About InstaCare</h3>
    <div class="container1">
    <p>
        Welcome to our Emergency Ambulance Booking Service. We understand the importance of quick and reliable ambulance services during critical moments. Our mission is to provide immediate assistance and transportation to those in need.
    </p>
    <p>
        Our service operates 24/7, ensuring that help is just a call or click away. We have a dedicated team of highly trained paramedics and a fleet of well-equipped ambulances ready to respond to emergencies swiftly.
    </p>
    <h2>Key Features</h2>
    <ul class="list-inline-item">
        <li>Rapid response times</li>
        <li>Skilled and certified medical staff</li>
        <li>Advanced ambulance fleet</li>
        <li>Transparent pricing</li>
        <li>24/7 availability</li>
    </ul>
    <h2>How to Book ?</h2>
    <p>
        Booking an ambulance with us is simple. You can call our emergency hotline or use our user-friendly mobile app or website to request assistance. We also work closely with healthcare providers and insurance companies to streamline the process.
    </p>
    <p>
        Just fill the details related to the patient and your location and the best available Ambulance will arrive at your door step at the earliest and take the patient to the most suitable hospital nearby.
    </p>
    <p>
        Your safety and well-being are our top priorities, and we are committed to providing the highest level of care during transportation.
    </p>
    <p>
        Don't hesitate to contact us in case of a medical emergency. Your life matters, and we are here to help you during critical times.
    </p>
    </div>
</div>
</div>

{% endblock content %}