<footer id="footer">
<div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h4>Join Our Newsletter</h4>
          <p>Stay updated with the latest medical news</p>
          <form action="" method="post">
            <input type="email" name="email" placeholder="Email (abc@example.com)"><input type="submit" value="Subscribe">
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>AmbulanceAid<span>.</span></h3>
          <p>
            46, Krishna Nagar Society,
            Adajan Gam,<br>
            Surat - 395009,<br>
            Gujarat, India. <br><br>
            <strong>Phone:</strong> +91 857 693 4520<br>
            <strong>Email:</strong> AmbulanceAid@gmail.com<br>
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url "about" %}">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/#faq">FAQs</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url "terms" %}">Terms of service</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url "privacy" %}">Privacy policy</a></li>
          </ul>
        </div>


        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Social Networks</h4>
          <p>Connect With the community via</p>
          <div class="social-links mt-3">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container py-4">
    <div class="copyright">
      &copy; Copyright <strong><span>AmbulanceAid</span></strong>. All Rights Reserved
    </div>
  </div>
</footer><!-- End Footer -->
