{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<div class="col-sm-12">
    <h3 class="text-blacl my-5 text-center">About InstaCare</h3>
    <div class="container1">
        <h1>Terms and Conditions of Use for Instacare.com</h1>

        <p><strong>1. Acceptance of Terms:</strong><br>
            By accessing or using Instacare.com (referred to as "the website"), you acknowledge and agree to comply with these terms and conditions. If you do not agree with these terms, please refrain from using the website.</p>
    
        <p><strong>2. User Registration:</strong><br>
            - Users must be of legal age in their respective jurisdiction to register and use the services offered by Instacare.com.<br>
            - All registration information must be accurate and up-to-date. Users are responsible for maintaining the confidentiality of their account credentials.</p>
    
        <p><strong>3. Ambulance Booking and Usage:</strong><br>
            - Users and hospitals agree to use the ambulance booking services provided by Instacare.com for legitimate emergency medical transportation needs only.<br>
            - Misuse of the platform, including false or fraudulent bookings, is strictly prohibited.</p>
    
        <p><strong>4. Privacy and Data Security:</strong><br>
            - Instacare.com values user privacy and employs necessary measures to protect user, patient, and hospital information in accordance with applicable data protection laws.<br>
            - By using the website, users consent to the collection, use, and processing of their personal information as outlined in the Privacy Policy.</p>
    
        <p><strong>5. Limitation of Liability:</strong><br>
            - Instacare.com shall not be held liable for any direct, indirect, incidental, consequential, or punitive damages arising from the use of the platform or the inability to access it.<br>
            - The platform provides ambulance booking services, and while every effort is made to ensure accuracy and efficiency, the website cannot guarantee the availability or suitability of ambulances in all circumstances.</p>
    
        <p><strong>6. Modifications and Termination:</strong><br>
            - Instacare.com reserves the right to modify or terminate services, update terms and conditions, or discontinue the website at its discretion without prior notice.<br>
            - Users will be notified of significant changes to the terms and conditions via the website or email.</p>
    
        <p><strong>7. Governing Law and Jurisdiction:</strong><br>
            - These terms and conditions shall be governed by and construed in accordance with the laws of ISO 9002. Any dispute arising from the use of the website shall be subject to the exclusive jurisdiction of the courts in Consumer Court.</p>
    
        <p><strong>8. Contact Information:</strong><br>
            For any inquiries or concerns regarding these terms and conditions, users may contact Instacare.com at +91 8576934520.</p>
</div>
</div>

{% endblock content %}